<div class="col">
    <div class="p-3 border bg-light">Appointments</div>
    <table id= "appointments" class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Doctor</th>
        <th scope="col">Appointment Time</th>
        <th scope="col">Reason</th>
        </tr>
    </thead>
    <tbody>
        <% @appointments.each do |appointment| %>
        <tr>
            <th scope="row"><%= appointment.id%></th>
            <td><%= Patient.find(appointment.patient_id).name %></td>
            <td><%= User.find(appointment.doctor_id).name %></td>
            <td><%= appointment.appointment_date %></td>
            <td><%= appointment.reason %></td>
        </tr>
        <% end %>
    </tbody>
    </table>      
</div>
